* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    overscroll-behavior: none;
    font-family: Arial, Helvetica, sans-serif;
}

#menuBack {
    user-select: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.7);
}

.menu {
    height: fit-content;
    width: fit-content;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    box-shadow: 5px 5px 10px black;
}

.flexColumn {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    justify-content: center;
}

#time {
    position: absolute;
    top: 0;
    left: 0;
    margin: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background: rgba(187, 187, 187, 0.3);
}

.startBtn {
    font-size: 2rem;
}

button,
input,
select {
    border: none;
    background: rgba(187, 187, 187, 0.8);
    padding: 1vmin 1rem;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}

select option {
    text-align: left;
}

button:hover,
button:focus {
    outline: none;
    transform: scale(1.05);
    box-shadow: 2px 2px 5px rgb(85, 85, 85);
}

button:disabled {
    background: rgba(187, 187, 187, 0.4);
    cursor: default;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}

.row * {
    flex-grow: 1;
}

#scoresContainer {
    height: fit-content;
    max-height: 43vh;
    overflow: auto;
}

@media (max-width: 658px) {
    select {
        font-size: 0.8rem;
    }
    .row {
        flex-direction: column;
    }
}
